.form-group.required .control-label:after {
  /*content:"*";
  color:red;*/


  	color: #d00;
    content: "*";
    position: absolute;
    margin-left: 4px;

    font-family: 'FontAwesome';
	font-weight: normal;
	font-size: 10px;
	content: "\f069";
}



th>h4 {
  color: blue;
}

td>h4 {
  color: blue;
}


.plop {
       text-decoration: blink;
}

.file-field.medium .file-path-wrapper {
height: 3rem; }
.file-field.medium .file-path-wrapper .file-path {
height: 2.8rem; }

.file-field.big-2 .file-path-wrapper {
height: 3.7rem; }
.file-field.big-2 .file-path-wrapper .file-path {
height: 3.5rem; }